<h4>Comments</h4>
<% @post.comments.each do |comment| %>
    <div class="well">
    <p>
    <strong>
    <%= comment.username %> 
    </strong>: <%= comment.body %>
    <%= link_to '[X]', [comment.post, comment],
    method: :delete,
    :class => 'btn text-danger font-weight-bold text-justify',
    data: {confirm: 'Are you sure to delete this comment?'} %>
    </p>
    </div>
    <% end %>